<footer class="footer__container">
    <div class="footer__items">
        <ul class="foooter__list-items">
            <li>Jogos</li>
            <li>Sobre</li>
            <li>Promoções</li>
        </ul>   
        <p>Todos os Direitos Reservados &copy; - 2023</p>
        <div class="footer__social-media">
            <img src="../../../assets/images/social-media/linkedin.png" alt="">
            <img src="../../../assets/images/social-media/facebook.png" alt="">
            <img src="../../../assets/images/social-media/github.png" alt="">
        </div>   
    </div>
</footer>